.allButtons{
    margin: 5px;
    display: flex;
    flex-direction: row;
    background: powderblue;
    border-color: lightsalmon;
    border-style: groove;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    color: coral;
    alignment: center;
}

input[type=button]:hover {
    background: #f0cfc7;
    cursor: pointer;
}

.indications{
    margin: 5px;
    font-weight: bold;
    font-size: large;
    color: coral;
    }
.allButtonsForms{
    margin: 10px;
    border-style: dotted;
    border-color: powderblue;
    border-width: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    color: coral;
    alignment: center;
    width: 20px;
}


#answerSearched{
    margin: 10px;
    color: #1196a1;
    font-size: 30px;
    font-weight: bolder;
}